{% extends "base.html" %}
{% load static %}

{% comment %} will list the latest three posts previews {% endcomment %}

{% block title %}
My blog 
{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock css_files %}

{% block content %}

<section id="welcome">
    <header>
        <img src="{% static "blog/images/andip.jpg" %}" alt="Andip - The author of this blog">
        <h2>Andip's Blog</h2>
    </header>
    <p>Hey, This is my sh***y life... And BTW... I love it</p>
</section>

<section id="latest-posts">
    <h2>Recent sh** of my life</h2>

    <ul>
        {% for post in posts %}
        {% include "blog/includes/post-preview.html" %}
        {% comment %} post-preview.html will have access to the context data - post {% endcomment %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What I do</h2>
    <p>I love improving myslef. I love to exercise. I love to talk about life, philosophy, emotions, perceptions, ideas, and everything else.</p>
    <p>I strive to become the best version of myself.</p>
    <p>Ohhh! And apart from that I am a Software Engineer at Capgemini (as of today 27 Aug, 2025)</p>
    <p>I would love to see where I am next year at this very same time.</p>
    <p>Hoping for the BEST. Preparing for the worst. Getting back stronger and better than ever.</p>
</section>
{% endblock content %}