{% load static %}

<link rel="stylesheet" href="{% static "blog/post-preview.css" %}">
{% comment %} max included this above line in static_css block in "all-posts.html" and "index.html" {% endcomment %}

<li>
    <article class="post">
        <a href="{% url "post-detail-page" slug=post.slug %}">
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <div class="post__content">
                <h3>{{ post.title }}</h3>
                <p>{{ post.excerpt }}</p>
            </div>
        </a>
    </article>
</li>